.idea
.DS_Store
*.tar.gz
!data_pipeline/tests/data/emails.tar.gz
dataset/
email_assistant/
.python-version
email1/
.pytest_cache/
.env
mail_mate_credentials.json
profile.out
data_pipeline/data/dataset/
data_pipeline/gx/
data_pipeline/logs/*.log
data_pipeline/scripts/__pycache__/
data_pipeline/scripts/data_cleaning.py
data_pipeline/scripts/feature_engineering.py
data_pipeline/scripts/save_to_csv.py
data_pipeline/scripts/temp.py
data_pipeline/tests/__pycache__/
dags/__pycache__/
dags/data_pipeline/gx/
logs/*
data_pipeline/tests/data/true_csv/*
.dvc/
mlruns/
