numpy
pandas
great_expectations
dvc[gs]
pytest
pytest-mock
pytest-pylint
apache-airflow[celery]==2.10.5 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.8.txt"
tqdm
python-dotenv
google-auth-oauthlib
google-api-python-client
mlflow==2.16.2
google-cloud-secret-manager==2.20.0
google-cloud-logging==3.10.0
google-cloud-audit-log==0.2.5
google-cloud-core==2.4.1
protobuf==3.19.6 
opentelemetry-proto==1.26.0 
flask
flask_cors
jinja2
vertexai
fuzzywuzzy
nltk
rouge-score
bert-score
spacy==3.8.3
psycopg2-binary
fairlearn
# blis  # Pin to a version with ARM64 pre-built wheel